.title{
    text-align: center;
}

.links_container{
    display: flex;
    justify-content: center;
    gap:8px;
}
.link {
    text-decoration: none;
    color: #00000098;

    &:hover{
        color: #000000;
    }
}

.icon{
    width: 96px;
    height: 96px;
}